<!DOCTYPE>
<html lang='ja'>
 <head>
   <meta charset='utf-8'>
   <title>movie</title>
   <link rel="stylesheet" href="login.css">
 </head>
 
 <body>
     
   <div class="wrapper">
      <div class="container">
        <div class="row">
          
            <h1 class="text-center text-white">新規登録</h1>
            <%= form_for @user do |f| %>
                <div class="form-g">
                 <%= f.text_field :name, :placeholder => "お名前", class: 'form-c' %>
                </div>
                <div class="form-g">
                 <%= f.text_field :email, :placeholder => "メールアドレス", class: 'form-c' %>
                </div>
                
                <div class="form-g">
                    <%= f.password_field :password, :placeholder => "パスワード",class: 'form-c' %>
                </div>
                <div class="form-g">
                    <%= f.password_field :password_confirmation, :placeholder => "パスワード確認",class: 'form-c' %>
                </div>

                <%= f.submit "登録", class: 'sub' %>
            <% end %>
            <%= link_to 'ログインはこちら', login_path, class:'text-white' %>
          
         </div>
       </div>
    </div>
     
 </body>
 
 
 </html>
