<html>
    
　 <head>
　   　<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
　     <script src="jquery.min.js" type="text/javascript"></script>
　     <link href='homes.css' rel='stylesheet'>
　 </head>

  <body>
    
   
     
    <header>
        <nav>
            <ul class="clearfix">
              <li><%= link_to 'ホーム', homes_index_path %></li>
              <li><%= link_to '作品一覧', homes_film_path %></li>
              <li><%= link_to '映画館', new_topic_path %></li>
              <li><%= link_to 'ログアウト',logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %></li>
              <li>お問い合わせ</li>
          </ul>
        </nav>
    </header>
    
   
    
     <main class="clearfix">
      
          <div class="contact">
            
            <h1>お問合せ</h1>
            <form action="#" method="post">
              <p>お名前（必須）：<br>
              <input type="text" name="name"></p>
              <p>メールアドレス：<br>
              <input type="text" name="mail"></p>
              <p>お問合せ内容：<br>
              <textarea name="comment" cols="30" rows="5"></textarea></p>
              <p><input type="submit" value="送信する" onclick="submitbtn();"></p>
            </form>
            
            <p>※FacebookのMessengerでも受け付けております。</p>
            <div class="film-button">
              <%= link_to 'こちらから', '#', { :class => "btn-square-slant" } %>
            </div>
            
          </div>
        
     
     </main>
      <!-- footer_begin -->
      <footer>
        <ul>
          <li><%= link_to 'ホーム', homes_index_path %></li>
          <li><%= link_to '作品一覧', homes_film_path %></li>
          <li><%= link_to '映画館', new_topic_path %></li>
          <li>お問い合わせ</li>    
        </ul>
      
      <small>&copy; 2018 CSS Cafe</small>
      </footer>
    </div>

  
  <script type="text/javascript">
  　　function submitbtn() {
        // 「OK」ボタン押下時
        if (confirm('内容に間違いはないですか？')) {
            alert('OK');
        }
        // 「キャンセル」ボタン押下時
        else {
            alert('キャンセル');
       　 }
  　　}
　</script>
    
  </body>
</html>